body {
  background: linear-gradient(135deg, #a8edea, #fed6e3); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
  font-family: 'Arial', sans-serif; 
}

.App {
  background-color: #ffffff; 
  border-radius: 15px; 
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); 
  padding: 20px 30px; 
  width: 500px; 
  transition: transform 0.2s, box-shadow 0.3s; 
}

.App:hover {
  transform: translateY(-5px); 
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); 
}

h1 {
  font-size: 24px; 
  text-align: center; 
  color: #4caf50; 
  margin-bottom: 20px; 
  text-transform: uppercase;
  letter-spacing: 2px; 
}

fieldset {
  border: none; 
}

input, select, textarea {
  display: block;
  width: 100%; 
  padding: 12px 15px; 
  box-sizing: border-box;
  border: 2px solid #ddd; 
  border-radius: 5px; 
  font-size: 14px; 
  transition: border-color 0.3s, box-shadow 0.3s; 
}
input:focus, select:focus, textarea:focus {
  border-color: #4caf50; 
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); 
  outline: none; 
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 5px; 
}

label {
  font-size: 16px; 
  color: #555; 
  font-weight: bold; 
  margin-top: 15px; 
  margin-bottom: 8px; 
  text-align: left;
}

button {
  padding: 12px 20px; 
  border-radius: 25px; 
  margin: 15px 10px; 
  border: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #4caf50, #43a047); 
  width: 45%; 
  font-size: 16px; 
  transition: background-color 0.3s, transform 0.2s; 
}

button:hover {
  transform: translateY(-3px);
  background: linear-gradient(90deg, #43a047, #4caf50); 
}

textarea {
  resize: none; 
  width: 100%;
  min-height: 100px;
  max-height: 150px;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px; 
  font-size: 14px;
  font-weight: normal;
  color: #444;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: #4caf50; 
}


input[type="file"] {
  display: block;
  width: 100%; 
  padding: 10px;
  border: 2px dashed #ddd; 
  border-radius: 5px; 
  background-color: #f9f9f9; 
  cursor: pointer;
  transition: border-color 0.3s ease-in-out;
}

input[type="file"]:hover {
  border-color: #4caf50; 
}

input[type="file"]::file-selector-button {
  padding: 8px 12px;
  background-color: #4caf50; 
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"]::file-selector-button:hover {
  background-color: #43a047; 
}

